<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>GetGood</servlet-name>
    <servlet-class>com.zafu.shop.servlet.GetGood</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetGood</servlet-name>
    <url-pattern>/getgood</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetGoodBySid</servlet-name>
    <servlet-class>com.zafu.shop.servlet.GetGoodBySid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetGoodBySid</servlet-name>
    <url-pattern>/getgoodbysid</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetGoodLikeName</servlet-name>
    <servlet-class>com.zafu.shop.servlet.GetGoodLikeName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetGoodLikeName</servlet-name>
    <url-pattern>/getgoodlikename</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectGoodById</servlet-name>
    <servlet-class>com.zafu.shop.servlet.SelectGoodById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectGoodById</servlet-name>
    <url-pattern>/selectgoodbyid</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifySold</servlet-name>
    <servlet-class>com.zafu.shop.servlet.ModifySold</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifySold</servlet-name>
    <url-pattern>/modifysold</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteGood</servlet-name>
    <servlet-class>com.zafu.shop.servlet.deleteGood</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteGood</servlet-name>
    <url-pattern>/deletegood</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateGood</servlet-name>
    <servlet-class>com.zafu.shop.servlet.UpdateGood</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateGood</servlet-name>
    <url-pattern>/updategood</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertGood</servlet-name>
    <servlet-class>com.zafu.shop.servlet.InsertGood</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertGood</servlet-name>
    <url-pattern>/insertgood</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertCustomer</servlet-name>
    <servlet-class>com.zafu.shop.servlet.InsertCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertCustomer</servlet-name>
    <url-pattern>/insertcustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectCustomerByCid</servlet-name>
    <servlet-class>com.zafu.shop.servlet.SelectCustomerByCid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectCustomerByCid</servlet-name>
    <url-pattern>/selectcustomerbycid</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateCustomer</servlet-name>
    <servlet-class>com.zafu.shop.servlet.UpdateCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomer</servlet-name>
    <url-pattern>/updatecustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomerLogin</servlet-name>
    <servlet-class>com.zafu.shop.servlet.CustomerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLogin</servlet-name>
    <url-pattern>/customerlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertSeller</servlet-name>
    <servlet-class>com.zafu.shop.servlet.InsertSeller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertSeller</servlet-name>
    <url-pattern>/insertseller</url-pattern>
  </servlet-mapping>
</web-app>